version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres-bondy
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: bondy-auth
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
