version: "3.9"

services:
  ### DATABASE ###
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_HOST_PORT}:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  ### CONFIG SERVER ###
  config-server:
    build: ./config-server
    container_name: config-server
    env_file:
      - ./config-server/.env.configserver
    ports:
      - "${CONFIG_SERVER_HOST_PORT}:8888"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8888/actuator/health" ]
      interval: 20s
      timeout: 5s
      retries: 3

  ### DISCOVERY SERVER (EUREKA) ###
  discovery-server:
    build: ./discovery-server
    container_name: discovery-server
    env_file:
      - ./discovery-server/.env.discovery
    depends_on:
      config-server:
        condition: service_healthy
    ports:
      - "${DISCOVERY_SERVER_HOST_PORT}:8761"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8761/actuator/health" ]
      interval: 20s
      timeout: 5s
      retries: 3

  ### AUTH SERVICE ###
  auth-service:
    build: ./services/auth-service
    container_name: auth-service
    env_file:
      - ./services/auth-service/.env.auth.docker
    ports:
      - "${AUTH_HOST_PORT}:8080"
      - "${AUTH_ACTUATOR_HOST_PORT}:9090"
    depends_on:
      postgres:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9090/actuator/health" ]
      interval: 20s
      timeout: 5s
      retries: 3

  ### COMMUNICATION SERVICE ###
  communication-service:
    build: ./services/communication-service
    container_name: communication-service
    env_file:
      - ./services/communication-service/.env.communication.docker
    ports:
      - "${COMMUNICATION_HOST_PORT}:8080"
      - "${COMMUNICATION_ACTUATOR_HOST_PORT}:9090"
    depends_on:
      postgres:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9090/actuator/health" ]
      interval: 20s
      timeout: 5s
      retries: 3

  ### INTERACTION SERVICE ###
  interaction-service:
    build: ./services/interaction-service
    container_name: interaction-service
    env_file:
      - ./services/interaction-service/.env.interaction.docker
    ports:
      - "${INTERACTION_HOST_PORT}:8080"
      - "${INTERACTION_ACTUATOR_HOST_PORT}:9090"
    depends_on:
      postgres:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9090/actuator/health" ]
      interval: 20s
      timeout: 5s
      retries: 3

  ### MAIL SERVICE ###
  mail-service:
    build: ./services/mail-service
    container_name: mail-service
    env_file:
      - ./services/mail-service/.env.mail.docker
    ports:
      - "${MAIL_HOST_PORT}:8080"
      - "${MAIL_ACTUATOR_HOST_PORT}:9090"
    depends_on:
      postgres:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9090/actuator/health" ]
      interval: 20s
      timeout: 5s
      retries: 3

  ### MODERATION SERVICE ###
  moderation-service:
    build: ./services/moderation-service
    container_name: moderation-service
    env_file:
      - ./services/moderation-service/.env.moderation.docker
    ports:
      - "${MODERATION_HOST_PORT}:8080"
      - "${MODERATION_ACTUATOR_HOST_PORT}:9090"
    depends_on:
      postgres:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9090/actuator/health" ]
      interval: 20s
      timeout: 5s
      retries: 3

  ### NOTIFICATION SERVICE ###
  notification-service:
    build: ./services/notification-service
    container_name: notification-service
    env_file:
      - ./services/notification-service/.env.notification.docker
    ports:
      - "${NOTIFICATION_HOST_PORT}:8080"
      - "${NOTIFICATION_ACTUATOR_HOST_PORT}:9090"
    depends_on:
      postgres:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9090/actuator/health" ]
      interval: 20s
      timeout: 5s
      retries: 3

  ### UPLOAD SERVICE ###
  upload-service:
    build: ./services/upload-service
    container_name: upload-service
    env_file:
      - ./services/upload-service/.env.upload.docker
    ports:
      - "${UPLOAD_HOST_PORT}:8080"
      - "${UPLOAD_ACTUATOR_HOST_PORT}:9090"
    depends_on:
      postgres:
        condition: service_healthy
      discovery-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9090/actuator/health" ]
      interval: 20s
      timeout: 5s
      retries: 3

  ### GATEWAY ###
  gateway:
    build: ./gateway
    container_name: gateway
    env_file:
      - ./gateway/.env.gateway.docker
    ports:
      - "${GATEWAY_HOST_PORT}:8080"
      - "${GATEWAY_ACTUATOR_HOST_PORT}:9090"
    depends_on:
      discovery-server:
        condition: service_healthy
      config-server:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9090/actuator/health" ]
      interval: 20s
      timeout: 5s
      retries: 3

volumes:
  pg_data:
