server:
  port: ${SERVER_PORT}

spring:
  application:
    name: auth-service
  jackson:
    default-property-inclusion: non_null
  datasource:
    url: jdbc:${DB}://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  flyway:
    enabled: true
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
  web:
    cors:
      mappings:
        '[/**]':
          allowed-origins:
            - http://localhost:8080
            - https://gateway.bondy.io.vn
          allowed-methods: GET,POST,PUT,PATCH,DELETE,OPTIONS
          allowed-headers: "*"
          allow-credentials: true
          max-age: 3600
  servlet:
    multipart:
      enabled: true
      max-file-size: 200MB
      max-request-size: 300MB
  main:
    banner-mode: off

springdoc:
  swagger-ui:
    persistAuthorization: true

management:
  server:
    port: ${ACTUATOR_PORT}
  endpoints:
    web:
      exposure:
        include: health,info,refresh
  endpoint:
    refresh:
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: ${DISCOVERY_URL}/eureka/
  instance:
    prefer-ip-address: true

logging:
  level:
    root: WARN
    org.example: INFO

app:
  environment: ${APP_ENV:dev}
  api-key:
    header: ${API_KEY_HEADER}
    internal: ${INTERNAL_API_KEY}
  user:
    default-password-suffix: ${DEFAULT_PASSWORD_SUFFIX:12345678}
  jwt:
    secret: ${JWT_SECRET}
    issuer: ${JWT_ISSUER}
    access-ttl: 600
    refresh-ttl: 2592000
  otp:
    ttl-minutes: 5
    max-attempts: 5
  gateway:
    url: ${GATE_WAY_URL}