spring:
  application:
    name: gateway
  config:
    import: optional:configserver:${CONFIG_SERVER_URL}

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    registry-fetch-interval-seconds: 5
