spring:
  application:
    name: mail-service
  config:
    import: optional:configserver:${CONFIG_SERVER_URL}
  mail:
    host: ${SMTP_HOST:localhost}
    port: ${SMTP_PORT:1025}
    username: ${SMTP_USER:}
    password: ${SMTP_PASS:}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          ssl:
            protocols: TLSv1.2
  thymeleaf:
    check-template-location: false