server:
  port: ${SERVER_PORT}

spring:
  application:
    name: notification-service
  jackson:
    default-property-inclusion: non_null
  datasource:
    url: jdbc:${DB}://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  flyway:
    enabled: true
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
  web:
    cors:
      mappings:
        '[/**]':
          allowed-origins:
            - http://localhost:8080
            - https://gateway.bondy.io.vn
          #          allowed-origins: "http://gateway:8080"
          allowed-methods: GET,POST,PUT,PATCH,DELETE,OPTIONS
          allowed-headers: "*"
          allow-credentials: true
          max-age: 3600
  servlet:
    multipart:
      enabled: true
      max-file-size: 200MB
      max-request-size: 300MB
  main:
    banner-mode: off

springdoc:
  swagger-ui:
    persistAuthorization: true

management:
  server:
    port: ${ACTUATOR_PORT}
  endpoints:
    web:
      exposure:
        include: health,info,refresh
  endpoint:
    refresh:
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: ${DISCOVERY_URL}/eureka/
  instance:
    prefer-ip-address: true

logging:
  level:
    root: WARN
    org.example: INFO

app:
  notify:
    clean-up-at: 2