server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: ${GIT_URI}
          default-label: main
          clone-on-start: true
          username: ${GIT_USERNAME}
          password: ${GIT_TOKEN}
logging:
  level:
    root: INFO
    org.springframework.web: DEBUG