# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cấu hình IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environments
.env*
!.env.example
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Cấu hình pip / Python
pip-log.txt
pip-delete-this-directory.txt

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.wheel
*.egg-info/
.installed.cfg

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyre
.pyre/

# Coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Logs
*.log

# Mac
.DS_Store
